.gc_main_menu_wrapper .mainmenu > ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 12px 0;
  margin: 0;
  list-style: none;
}
.gc_main_menu_wrapper .col-lg-6 {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .gc_main_menu_wrapper .col-lg-6 {
    margin-left: 48px;
  }
}
.gc_main_menu_wrapper .mainmenu > ul > li {
  display: inline-block;
}
.gc_main_menu_wrapper .mainmenu > ul > li > a,
.gc_main_menu_wrapper .mainmenu > ul > li > span {
  text-decoration: none;
}
@media (max-width: 991px) {
  .gc_main_menu_wrapper .menu-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    margin: 8px 0;
  }
  .gc_main_menu_wrapper .mainmenu > ul {
    display: none;
  }
  .gc_main_menu_wrapper .mainmenu.open > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;
  }
  .gc_main_menu_wrapper .col-lg-6 {
    margin-left: 0;
  }
}
